html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 30px;
}

pre {
    border: 1px solid #ddd;
    padding: 10px;
    height: 100px;
    overflow: auto;
    white-space: pre-line;
}

#path {
    box-sizing: border-box;
    height: 25px;
    line-height: 25px;
    padding: 0 3px;
    border: 1px solid black;
    background-color: #fefefe;
    width: calc(100% - 140px);
    float: left;
    color: #999;
    overflow: hidden;
}

button {
    height: 25px;
    line-height: 25px;
    padding: 0;
    border: 1px solid black;
    width: 67px;
    float: right;
    background-color: #ddd;
    margin-left: 2px;
}

button:hover {
    background-color: #aaa;
}

#patch {
    color: red;
}
